<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Surah <%= surah.name %></title>
</head>
<body>
  <h1>Surah <%= surah.name %></h1>
  <ul>
    <% surah.ayahs.forEach((verse) => { %>
      <li>
        <p>Verse <%= verse.number %></p>
        <p>Arabic: <%= verse.text %></p>
      </li>
    <% }); %>
  </ul>
</body>
</html>
